@model ViewResultRediscount
<h4>Использовано табака: @Model.UsedTabaco</h4>
<h4>Недостача: @Model.Disadvantage</h4>
<h4>Недостача кальянов: @Model.DisadvantageHookah</h4>
<h4>Избыток табака: @Model.Excess</h4>
<a class="btn btn-primary" asp-controller="Display" role="button" asp-action="ShowStock">Склад</a>
<a class="btn btn-primary" asp-controller="Display" role="button" asp-action="ShowWorkStock">Рабочка</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button" >Home</a>

