@model EditWorkStockView

    <form asp-action="EditWorkStock" method="post">
        <div class="form-group">
            <label asp-for="SelectedWorkStock">Выберите запись что хотите изменить</label>
            <select class="form-control" asp-for="SelectedWorkStock"
                    asp-items="@(new SelectList(Model.workStocks,"Id","Info"))">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="TabacoName">Введите название табака</label>
            <input asp-for="TabacoName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CountTabacoPack">Введите количество взятых пачек</label>
            <input asp-for="CountTabacoPack" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="TabacoWeigth">Введите количество принятого табака в граммах</label>
            <input asp-for="TabacoWeigth" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Принять</button>
    </form>