@model Dictionary<string, Dictionary<string, string>>
<div class="bg-primary m-1 p-1 text-white"><h4>Registration Company</h4></div>
<table>
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Role</th></tr>
    @foreach (KeyValuePair<string, Dictionary<string, string>> keyValue in Model)
    {
        <tr>
            <td>@keyValue.Value["Id"]</td>
            <td>@keyValue.Value["Name"]</td>
            <td>@keyValue.Value["Email"]</td>
            <td>@keyValue.Value["Role"]</td>
        </tr>
}
    }
</table>



