
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Succes</title>
</head>
<body>
    <h2>Hello World</h2>
    <a asp-controller="Account" asp-action="Registration" class="btn btn-primary">Registration</a>
    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Выход" />
    </form>
</body>
</html>