
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
}
<a asp-controller="Account" asp-action="Login">Вход</a>
<a asp-controller="Account" asp-action="Registration" class="btn btn-primary">Registration</a>
<form method="post" asp-controller="Account" asp-action="LogOff">
    <input type="submit" value="Выход" />
</form>
<a class="btn btn-primary" asp-controller="StockReplenishment" role="button" asp-action="AddTabacoToStock">Добавить табак на склад</a>
<a class="btn btn-primary" asp-controller="StockReplenishment" role="button" asp-action="AddTabacoToWorkStock">Принять табак</a>
<a class="btn btn-primary" asp-controller="Display" role="button" asp-action="ShowStock">Склад</a>
<a class="btn btn-primary" asp-controller="Display" role="button" asp-action="ShowWorkStock">Рабочка</a>

