@model AddTabacoToWorkStock

<form asp-action="AddTabacoToWorkStock" method="post">
    <div class="form-group">
        <label asp-for="SelectedCompanyStock">Выберите табак и фасовку</label>
        <select class="form-control" asp-for="SelectedCompanyStock"
                asp-items="@(new SelectList(Model.CompanyStock,"Id","Info"))">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CountTabacoPack">Введите количество взятых пачек</label>
        <input asp-for="CountTabacoPack" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TabacoWeigth">Введите количество принятого табака в граммах</label>
        <input asp-for="TabacoWeigth" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Принять</button>
</form>