@model IEnumerable<CompanyStock>
<div class="bg-primary m-1 p-1 text-white"><h4>Company Stock</h4></div>
<table>
    <tr><th>Бренд</th><th>Фасовка</th><th>Количество</th><th>Компания ID </th></tr>
    @foreach (CompanyStock companyStock in Model)
    {
        <tr>
            <td>@companyStock.TabacoName</td>
            <td>@companyStock.TabacoBundleWeigh</td>
            <td>@companyStock.TabacoCount</td>
            <td>@companyStock.CompanyId</td>
        </tr>
    }
</table>
